@import 'var.scss';
.login-layout {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../images/logo-bg.png) no-repeat  center top;
  min-width: 1000px;
  .login {
    position: absolute;
    width: 352px;
    height: 352px;
    border: 1px solid #e2e2e2;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 20px auto;
    right: 5%;
    top: 300px;;
    .login-head {
      font-size: 20px;
      height: 64px;
      line-height: 64px;
      color: #393f93;
      background-color: #f4f5f9;
      border-bottom: 1px solid #e2e2e2;
      text-align: center
    }
    .login-content {
      padding: 0 25px;
      .login-msg {
        width: 100%;
        height: 45px;
        line-height: 45px;
        font-size: 12px;
        color: red;
        overflow: hidden;
      }
      .field {
        width: 100%;
        height: 44px;
        line-height: 44px;
        overflow: hidden;
        font-size: 0;
        position: relative;
        border: 1px solid #9089bd;
        border-radius: 5px;
        margin-bottom: 30px;
        .icon {
          width: 42px;
          height: 42px;
          line-height: 42px;
          display: block;
          float: left;
          background-color: #393f93;
          text-align: center;
          .iconfont {
            font-size: 24px;
            color: #fff;
          }
        }
        input {
          height: 100%;
          width: 255px;
          display: block;
          text-indent: 10px;
        }
      }
      .submit {
        width: 302px;
        height: 44px;
        line-height: 44px;
        background: #393f93;
        color: #fff;
        border-radius: 3px;
        font-size: $font-size-large;
        cursor: pointer;
        &:hover {
          background: #4148A9;
        }
      }
    }
     ::-webkit-input-placeholder {
      color: #393f93
    }
  }
}
.login-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  .login-con-head{
    .logo{
      height: 90px;
      width: auto;
    }
  }
  .login-con-content{
    padding-top: 30px;
    width: 100%;
    height: 500px;
    background: #85b9e1;
   
    .w1100{
      width: 1100px;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
    }
    .login-img{
      width: 478px;
      height: 396px;
      img{
        width: 478px;
        height: 396px;
      }
    }
  }
  .login-con-footer{
    text-align: center;
    font-size: 12px;
    color:#929292;
    padding: 50px 0;
  }
  .login {
    width: 352px;
    height: 352px;
    border: 1px solid #e2e2e2;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 20px auto;

    .login-head {
      font-size: 20px;
      height: 64px;
      line-height: 64px;
      color: #366079;
      background-color: #f4f5f9;
      border-bottom: 1px solid #e2e2e2;
      text-align: center
    }
    .login-content {
      padding: 0 25px;
      .login-msg {
        width: 100%;
        height: 45px;
        line-height: 45px;
        font-size: 12px;
        color: red;
        overflow: hidden;
      }
      .field {
        width: 100%;
        height: 44px;
        line-height: 44px;
        overflow: hidden;
        font-size: 0;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 30px;
        .icon {
          width: 42px;
          height: 42px;
          line-height: 42px;
          display: block;
          float: left;
          background-color: #ddd;
          text-align: center;
          .iconfont {
            font-size: 24px;
            color: #fff;
          }
        }
        input {
          height: 100%;
          width: 255px;
          display: block;
          text-indent: 10px;
        }
      }
      .submit {
        width: 302px;
        height: 44px;
        line-height: 44px;
        background:#79B3DE;
        color: #fff;
        border-radius: 3px;
        font-size: $font-size-large;
        cursor: pointer;
      
      }
    }
  }
}
